{extend name="../../common/view/layout_base"}
{block name="header_resource"}
<link href="__STATIC__/plugins/bootstrap-switch/bootstrap-switch.min.css" rel="stylesheet">
{/block}
{block name="main"}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>商家列表</h5>
                <div class="ibox-tools">
                    <button onclick="window.location.href='__ROOT__/admin/merchant/add'" type="button"
                            class="btn btn-outline btn-primary btn-xs">新增商家
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <hr>
                <div class="jqGrid_wrapper" style="overflow: auto;">
                    <table id="table_list_1"></table>
                    <div id="pager_list_1"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_resource"}
<script src="__STATIC__/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
{/block}
{block name="footer_js"}
<script>
    let loading = false;
    $(document).ready(function () {
        let table = $("#table_list_1");
        table.jqGrid({
            url: '__ROOT__/admin/merchant/index',
            mtype: "post",
            datatype: "json",
            styleUI: 'Bootstrap',    //风格
            height: 350,
            // autowidth:true,
            shrinkToFit: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            colNames: ["序号", "名称", /*"管理员",*/ "状态", "操作"],
            colModel: [
                {name: "id", index: "id", align:"center",width: 60, sorttype: "int"},
                {name: "partner_name", index: "partner_name",align:"center", sortable: false, width: 150},
                // {name: "admin.mobile", index: "admin.mobile", align:"center", sortable: false, width: 150},
                {name: "status", index: "status", align:"center", sortable: false, width: 100, formatter:switchFormat2},
                {name: "id", index: "id", align:"center", width: 150, sortable: false, formatter: formatOperation}
            ],
            pager: "#pager_list_1",
            viewrecords: true,
            caption: "会员卡类别",
            hidegrid: false,
            sortable: true,
            page: 1,
            loadComplete: function () {
                $("#table_list_1 input[type='checkbox']").bootstrapSwitch();
            }
        });
        table.navGrid("#pager_list_1", {
                search: false, // show search button on the toolbar
                add: false,
                edit: false,
                del: false,
                refresh: true
            },
            {}, // edit options
            {}, // add options
            {}, // delete options
            {multipleSearch: false, multipleGroup: false, showQuery: false} // search options - define multiple search
        );
        function switchFormat2(cellValue, options, rowObject) {
            return '<input type="checkbox" data-id="' + rowObject.id +'" '+ (cellValue === 1 ? 'checked' : '') +' data-size="mini" data-on-color="success" data-off-color="warning" />';
        }
        function formatOperation(cellValue, options, rowObject) {
            var operationHtml = '<span operationValue="' + cellValue + '"><a href="__ROOT__/admin/merchant/add?partner_id=' + cellValue + '" type="button" class="btn btn-primary btn-xs" >详情</a> <a onclick="delAdmin(' + cellValue + ')" class="btn btn-danger btn-xs btn-bitbucket"><i class="fa fa-times"></i></a></span>';
            return operationHtml;
        }

        function unformatOperation(cellValue, options, cellObject) {
            return $(cellObject.html()).attr('operationValue');
        }
    });
    $.fn.bootstrapSwitch.defaults.onSwitchChange = function (event, state) {
        let self = $(this);
        if(self.data('ajaxError') || loading) return false;
        let id = self.data('id');
        loading = true;
        layer.load(1, {
            shade: [0.2,'#f3f3f4']
        });
        $.ajax({
            type:'POST',
            dataType:'json',
            url:'__ROOT__/admin/merchant/status',
            data:{
                id:id,
                status:state ? 1 : 0
            },
            success: function (msg) {
                if(msg.error_code){
                    self.data('ajaxError', true);
                    self.bootstrapSwitch('toggleState');
                    self.bootstrapSwitch('toggleDisabled', true);
                    layer.alert(msg.error_message);
                }
                loading = false;
                layer.closeAll('loading');
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown);
                loading = false;
                layer.closeAll('loading');
            }
        });
    };
</script>
{/block}
