{extend name="../../common/view/layout_base"}
{block name="header_resource"}
<link href="__STATIC__/plugins/bootstrap-switch/bootstrap-switch.min.css" rel="stylesheet">
{/block}
{block name="main"}
<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--<blockquote class="text-warning">-->
<!--<h2>线下会员卡消费主页</h2>-->
<!--</blockquote>-->
<!--<hr>-->
<!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">线下会员卡消费</div>
            <div class="ibox-content">
                <blockquote class="text-warning" style="font-size:14px">
                    线下直扣时，无需在右侧选择商品，线下商品则必须先选择商品才行
                </blockquote>
                <form class="form-horizontal" id="form-offline">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单类型</label>
                        <div class="col-sm-8">
                            {volist name="$order->ot_name" id="name"}
                            {neq name="$key" value="2"}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="order_type" value="{$key}">
                                    {$name}
                                </label>
                            </div>
                            {/neq}
                            {/volist}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="payment_code">付款码</label>
                        <div class="col-sm-8">
                            <input type="text" name="payment_code" id="payment_code" class="form-control" required
                                   value=""
                                   placeholder="输入用户付款码">
                            <p class="form-control-static text-danger">可使用扫码枪扫描自动输入，或者手动填写</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">总金额</label>
                        <div class="col-sm-8 ">
                            <div class="input-group">
                                <input class="form-control text-right" required type="text"
                                       value="{$order->total_money ?? ''}"
                                       name="total_money" id="total_money"
                                       placeholder="商品总金额" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" id="manual">手动输入</button>
                                </span>
                            </div>
                            <span class="help-block text-success">总金额可以由单价和数量自动计算获取，也可以手动修改！</span>
                            <span class="help-block text-warning">实际扣款金额依据总金额与会员卡的具体优惠方式，由后台计算自动扣除！</span>
                        </div>
                    </div>
                    <div class="form-group order_type_1" style="display: none;">
                        <label class="col-sm-4 control-label">商品</label>
                        <div class="col-sm-8 ">
                            <input class="form-control" type="text" value="" name="goods_name"
                                   id="goods_name"
                                   placeholder="请从右侧选择商品" readonly>
                            <input type="hidden" name="goods_id" id="goods_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品单价</label>
                        <div class="col-sm-8 ">
                            <div class="input-group">
                                <input class="form-control text-right calculate-price" type="text"
                                       value="{$order->goods_price ?? ''}"
                                       name="goods_price"
                                       id="goods_price"
                                       required
                                       readonly
                                       placeholder="商品单价">
                                <span class="input-group-addon"><i class="fa fa-yen-sign"></i></span>
                            </div>
                            <p class="form-control-static ">记录</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品数量</label>
                        <div class="col-sm-8 ">
                            <input class="form-control calculate-price" type="text" value="{$order->goods_number ?? ''}"
                                   name="goods_number" id="goods_number"
                                   placeholder="购买商品数量" required digits="digits" min="1">
                            <p class="form-control-static ">记录</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="remark">备注信息</label>
                        <div class="col-sm-8 ">
                            <input class="form-control " type="text" value="" name="remark" id="remark"
                                   placeholder="扣款备注信息">
                            <p class="form-control-static text-danger">如使用线下直扣方式，则必须填写!</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group operation">
                        <div class="col-sm-4  col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">确认扣款</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">选择商品</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group" data-toggle="buttons" id="goods_list" style="display:unset">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">选择商品分类</h3>
            </div>
            <div class="panel-body" id="cat_list">
                <div class="col-sm-4">
                    <h3 class="text-muted text-center">一级分类</h3>
                    <div class="btn-group" data-toggle="buttons" id="cat_list_1" style="display:unset">
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-warning text-center">二级分类</h3>
                    <div class="btn-group" data-toggle="buttons" id="cat_list_2" style="display:unset">
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-danger text-center">三级分类</h3>
                    <div class="btn-group" data-toggle="buttons" id="cat_list_3" style="display:unset">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_resource"}
<script src="__STATIC__/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
{/block}
{block name="footer_js"}
<script>
    $(function () {
        $("input:radio[name='order_type']").on('change', function (e) {
            let order_type_1 = $(".order_type_1");
            let goods_price = $("#goods_price");
            switch (parseInt($(this).val())) {
                case 1:
                    goods_price.prop('readonly', true);
                    order_type_1.show();
                    break;
                default:
                    order_type_1.hide();
                    goods_price.removeAttr('readonly');
            }
        });
        $(".calculate-price").on('blur', function (e) {
            calculate_price();
        });
        $("#manual").on('click', function (e) {
            let totalEle = $("#total_money");
            if (totalEle.attr("readonly") === 'readonly') {
                totalEle.removeAttr('readonly');
            } else {
                totalEle.prop('readonly', 'readonly');
            }
        });
        $("body").on('change', '#cat_list input:radio', function(e){
            let chose_id = $(this).val();
            let level = parseInt($(this).data('level'));
            if(level === 1) $("#cat_list_2").html('');
            if(level < 3) $("#cat_list_3").html('');
            getCatChildren(chose_id, level);
        });
        $("body").on('change', '#goods_list input:radio', async function(e){
            let goods_name = $(this).data('name');
            let goods_price = $(this).data('price');
            let goods_id = $(this).val();
            $("#goods_price").val(goods_price);
            $("#goods_name").val(goods_name);
            $("#goods_id").val(goods_id);
            calculate_price();
        });
        getCatChildren();
    });
    $.validator.addMethod('isPrice', function (value, element, param) {
        if (isNaN(value)) return false;
        let number = /^[0-9]+(.[0-9]{1,2})?$/;
        return this.optional(element) || (number.test(value));
    }, '<i class="fa fa-times-circle"></i>只能填写最多2位小数点，大于0的数字！');
    let formValid = $("#form-offline").validate({
        rules: {
            order_type: "required",
            goods_price: {
                isPrice: !0,
                min: 1
            },
            total_money: {
                isPrice: !0,
                min: 1
            },
            remark: {
                required: function (e) {
                    let order_type = $("input:radio[name='order_type']:checked").val();
                    return order_type === '0';
                }
            },
            goods_name: {
                required: function (e) {
                    let order_type = $("input:radio[name='order_type']:checked").val();
                    return order_type === '1';
                }
            }
        },
        messages: {
            remark: {
                required: '<i class="fa fa-times-circle"></i>订单类型为线下直扣时，必须填写！'
            },
            goods_name: {
                required: '<i class="fa fa-times-circle"></i>订单类型为线下商品时，必须选择！'
            }
        },
        submitHandler: form => {
            $.post('__ROOT__/admin/offline/deduction', $(form).serialize(), function (res) {
                if (res.error_code) {
                    swal({
                        type: 'error',
                        title: '出错了',
                        text: res.error_message,
                        allowOutsideClick: false
                    })
                } else {
                    swal({
                        type: 'success',
                        title: '成功',
                        timer: 3000,
                        allowOutsideClick: false
                    }).then(result => {
                        document.getElementById('form-offline').reset();
                        formValid.resetForm();
                    })
                }
            }, 'json')
        }
    });
    function calculate_price(){
        let gp = $("#goods_price");
        let gn = $("#goods_number");
        let price = parseFloat(gp.val());
        let number = parseInt(gn.val());
        if (isNaN(price)) price = 0;
        if (isNaN(number)) number = 0;
        let total = (price * 100 * number) / 100;
        $("#total_money").val(total);
    }
    function getCatChildren(parent_id = 0, current = 0) {
        let load = layer.load(1);
        return $.post('__ROOT__/admin/goods/children', {parent_id,goods:1}, res => {
            layer.close(load);
            if(! res.error_code){
                //分类
                let html = '';
                let color = null;
                let level = null;
                for(let i = 0; i < res.data.cat_list.length; i++){
                    let cat = res.data.cat_list[i];
                    if(color === null){
                        level = parseInt(cat.cat_level);
                        color = (level === 1) ? 'default' : ((level === 2) ? 'warning' : 'danger');
                    }
                    html += '<label class="btn btn-' + color + ' btn-outline btn-block"><input type="radio" data-name="' + cat.cat_name + '" data-level="' + cat.cat_level + '" value="' + cat.cat_id + '" name="cat_' + level + '" class="cat_chose" autocomplete="off">' + cat.cat_name + '</label>';
                }
                // for (let {cat_id, cat_name, cat_level} of res.data.cat_list.values()){
                //     if(color === null){
                //         level = parseInt(cat_level);
                //         color = (level === 1) ? 'default' : ((level === 2) ? 'warning' : 'danger');
                //     }
                //     html += `<label class="btn btn-${color} btn-outline btn-block"><input type="radio" data-name="${cat_name}" data-level="${cat_level}" value="${cat_id}" name="cat_${level}" class="cat_chose" autocomplete="off">${cat_name}</label>`;
                // }
                if(html === '') html = '<h3 class="text-center text-muted">未找到对应分类</h3>';
                if(level <= 3) $(`#cat_list_${level}`).html(html);
                //商品
                let html_goods = '';
                for(let j = 0; j < res.data.goods_list.length; j++){
                    let goods = res.data.goods_list[j];
                    html_goods += '<label class="btn btn-info btn-outline btn-block"><input type="radio" data-price="' + goods.goods_price + '" data-name="${goods_name}" value="' + goods.goods_id + '" name="goods" class="goods_chose" autocomplete="off">' + goods.goods_name + '</label>';
                }
                // for (let {goods_id, goods_name, goods_price} of res.data.goods_list.values()){
                //     html_goods += `<label class="btn btn-info btn-outline btn-block"><input type="radio" data-price="${goods_price}" data-name="${goods_name}" value="${goods_id}" name="goods" class="goods_chose" autocomplete="off">${goods_name}</label>`;
                // }
                if(html_goods === '') html_goods = '<h3 class="text-center text-muted">未找到对应商品</h3>';
                $(`#goods_list`).html(html_goods);
            }else{
                layer.msg(res.error_message);
            }
        })
    }
</script>
{/block}
