{extend name="../../common/view/layout_base"}
{block name="back"}
<div class="row border-bottom white-bg dashboard-header">
    <a class="btn btn-warning" title="上一页" href="javascript:void(0)" type="button" onclick="window.history.back()">
        <i class="fa fa-hand-point-left"></i>&nbsp;上一页
    </a>
</div>
{/block}
{block name="main"}
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>角色相关</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="permission_form">
                        <input type="hidden" name="identity_id" id="identity_id" value="{$identity.id ?? ''}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="identity_name">角色名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="identity_name" name="identity_name" value="{$identity.identity_name ?? ''}" placeholder="请写角色名称" type="text" maxlength="20" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="partner_id">所属合作商</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="partner_id" id="partner_id">
                                    <option value="">请选择角色所属合作商</option>
                                    <option value="1">选项一</option>
                                    <option value="2">选项二</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <button type="submit" class="btn btn-outline btn-primary dim" id="confirm_submit">确认提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="footer_js"}
    <script>
        $("#permission_form").submit(function (e) {
            e.preventDefault();
            $.post('__ROOT__/admin/jurisdiction/add', $(this).serialize(), function (res) {
                if(res.error_code){
                    swal({
                        type: 'error',
                        title: '出错了',
                        text: res.error_message,
                        allowOutsideClick: false
                    })
                }else{
                    swal({
                        type: 'success',
                        title: '添加成功',
                        timer: 3000,
                        allowOutsideClick: false
                        // animation: false,
                    }).then(result => {
                        window.location.href = '__ROOT__/admin/jurisdiction'
                    })
                }
            }, 'json');
        })
    </script>
{/block}
