{extend name="../../common/view/layout_base"}
{block name="back"}
<div class="row border-bottom white-bg dashboard-header">
    <a class="btn btn-warning" title="上一页" href="javascript:void(0)" type="button" onclick="window.history.back()">
        <i class="fa fa-hand-point-left"></i>&nbsp;上一页
    </a>
</div>
{/block}
{block name="main"}
<div class="row">
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户信息</h5>
            </div>
            <div class="ibox-content">
                <h1>{$user->mobile}</h1>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script>
</script>
{/block}
