{extend name="../../common/view/layout_frontend"}
{block name="title"}- 实名认证{/block}
{block name="header_style"}
<style>
    .tab-content {
        /*border: 1px solid #ddd;*/
        /*border-top-color: transparent;*/
        padding: 30px 10px;
    }
    .nav-tabs{
        border: none;
    }
    .nav-tabs li.active a {
        color: #f23030 !important;
        font-size: 1.5rem;
    }

    .nav-tabs li a {
        color: #a2a2a2 !important;
    }
</style>
{/block}
{block name="back"}
<nav class="navbar navbar-default" style="background-color:#f23030; border:none;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="__ROOT__/index/user/center" style="color:#fff;">
                <i class="glyphicon glyphicon-chevron-left"></i> 实名认证
            </a>
        </div>
    </div>
</nav>
{/block}
{block name="main"}
<div class="container" style="padding: 10% 15px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">实名相关信息</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"  class="active hide">
                    <a href="#code-login" aria-controls="password-login" role="tab"
                       data-toggle="tab">实名认证</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="code-login">
                    {eq name="user->is_real" value="1"}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>已实名！</strong>当前用户已经通过实名认证。
                    </div>
                    <div class="form-group">
                        <label class="control-label">真实姓名</label>
                        <p class="form-control-static">{$user->real_name_show ?? '未知'}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">身份证号</label>
                        <p class="form-control-static">{$user->id_code_show ?? '未知'}</p>
                    </div>
                    {else/}
                    <form id="real-form">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>未实名！</strong>当前用户还未通过实名认证。
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="real_name">真实姓名</label>
                            <input type="text" class="form-control" placeholder="请输入真实姓名" name="real_name"
                                   rangelength="[2,10]"
                                   maxlength="10"
                                   required
                                   id="real_name">

                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="id_code">身份证号</label>
                            <input type="text" class="form-control"
                                   maxlength="18"
                                   required
                                   placeholder="请输入身份证号码" name="id_code"
                                   id="id_code">
                        </div>
                        <button type="submit" class="btn btn-success">提交</button>
                    </form>
                    {/eq}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script>
    $("#real-form").validate({
        submitHandler: function(f){
            axios.post('__ROOT__/index/user/real', $(f).serialize())
                .then(function(res){
                    if(! res.data.error_code){
                        window.location.reload();
                    }else{
                        layer.open({
                            content: res.data.error_message,
                            btn: '知道了'
                        });
                    }
                }).catch(function (error) {
                console.log(error);
            });
            return false;
        }
    });
</script>
{/block}
